body{

    background-color: rgb(80, 159, 80);
}

.enlaces1{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.enlaces2{

    display: grid;
    grid-template-columns: 1fr 1fr;
}

a{

    background-color: black;

    margin: 0.5em;
    padding: 1em 2em;

    text-align: center;
    text-decoration: none;
    font-size: 3em;
    color: white;

    border: 3px solid white;
    border-radius: 50%;
}

a:hover{

    background-color: red;
}